<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GFG-REST-TEMPLATE</title>
    <style>
h1{
	color:forestgreen;
}
p{
	width:500px;
}
</style>
</head>
<body>
<h1>Hello Geek</h1>
<h1 th:text="${user.id}"> Replaceable text </h1 >
<h1 th:text="${user.userName}"> Replaceable text </h1 >
<h1 th:text="${user.data}"> Replaceable text </h1 >

<form method="POST" th:object="${model}">

    <label for="id">Type ID : </label><br/>
    <input type="text" th:field="*{id}"><br/>

    <label for="userName">Type USERNAME : </label><br/>
    <input type="text" th:field="*{userName}"><br/>

    <label for="data">Type DATA : </label><br/>
    <input type="text" th:field="*{data}">
    <input type="submit" value="submit">
</form>

<p th:text="${headers}"></p>

</body>
</html>
