<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserData Gui</title>
    <style>
h1{
	color:forestgreen;
}
p{
	width:500px;
}
</style>
</head>
<body>
<h1>UserData Gui</h1>

<h2>Last Person inserted</h2>

id=<span th:text="${lastperson.id}"> Replaceable text </span >
firstName=<span th:text="${lastperson.firstName}"> Replaceable text </span >
lastName=<span th:text="${lastperson.lastName}"> Replaceable text </span >

<h2>Person found</h2>

<div id="BOX">
<span  th:text="${personfound}"> Replaceable text </span>
</div>


<h2>Insert a new Person</h2>
<form method="POST" action="/Api/createPersonWithModel" th:object="${personmodel}">

    <label for="id">ID : </label>
    <input type="text" th:field="*{id}"><br/>

    <label for="firstName">FIRSTNAME : </label>
    <input type="text" th:field="*{firstName}"><br/>

    <label for="lastName">LASTNAME : </label>
    <input type="text" th:field="*{lastName}">
    <input type="submit" value="submit">
</form>



</body>
</html>
