<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UserData Gui</title>
    <style>
h1{
	color:forestgreen;
}
p{
	width:500px;
}
</style>
</head>
<body>
<h1>UserData Gui</h1>

<h2>Last Person inserted</h2>
<div  ID="LASTPERSON">
<!-- https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html -->
id=<span th:text="${lastperson.id}"> Replaceable text </span >
firstName=<span th:text="${lastperson.firstName}"> Replaceable text </span >
lastName =<span th:text="${lastperson.lastName}"> Replaceable text </span >
</div>

<h2>Insert a new Person</h2>
<!-- <form method="POST" action="/Api/createPersonWithModel" th:object="${personmodel}"> -->
<form method="POST" action="/Api/createPerson" th:object="${personmodel}">

    <label for="id">ID : </label>
    <input type="text" th:field="*{id}"><br/>

    <label for="firstName">FIRSTNAME : </label>
    <input type="text" th:field="*{firstName}"><br/>

    <label for="lastName">LASTNAME : </label>
    <input type="text" th:field="*{lastName}">
    <input type="submit" value="submit">
</form>

<h3>Answer to Api/getAPerson?lastName=</h3>

<div id="FOUND" th:text="${personfound}"> Replaceable text </div>
<!-- <div id="ALLPERSONS" th:each="person:${persons}"> <p th:text>${person}> xxx </p></div> -->


<h3>Answer to Api/getAllPersons</h3>
<table id="ALLPERSONS">
    <tr th:each="person: ${persons}">
        <td th:text="${person.id}" />
        <td th:text="${person.firstName}" />
        <td th:text="${person.lastName}" />
    </tr>
</table>

</body>
</html>
