body {
    background-color: rgb(255,255,255);
  }
  .blue {
    color: blue; 
  }

  .red {
    color:red;
  }
  .remark{
    background-color: #E3F2FD;
      border: 1.5px solid #d5f2ed;
      padding: 0px;
      margin: 0px;
      line-height: 1.4;
    border-radius: 25px;
  }