<!--
 * See https://www.baeldung.com/spring-boot-change-port
 * https://howtodoinjava.com/spring-webflux/spring-webflux-tutorial/
 * https://docs.spring.io/spring-framework/docs/5.0.0.BUILD-SNAPSHOT/spring-framework-reference/html/web-reactive.html
 * BAD REQUEST ( enctype="text/plain") https://www.ionos.it/digitalguide/hosting/tecniche-hosting/messaggio-di-errore-http-400-alla-ricerca-delle-cause/

Content type 'application/x-www-form-urlencoded' not supported
when we use application/x-www-form-urlencoded, Spring doesn't understand it as a RequestBody
-->

<!DOCTYPE html >
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
        <title>RadarSystemUserGui</title>
        <!-- <link rel="stylesheet" href="css/style.css"/> -->
<style>
#ledOn{
      width: 50px;
      height: 50px;
      background: red;
}

#ledOff{
      width: 10px;
      height: 10px;
      background: gray;
}
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}    

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>      


 
 </head>
<body>
<h1><span th:text="${arg}">Our Arg</span></h1>


<p>I am <i>it.unibo.msenabler - templates/RadarSystemUserGui.html</i></p>

<!--
Acquire the address of the application on the Raspberry
<p id="raspIp">Raspberry IP: <span id="raspApplAddr" th:text="${applicationAddr}"></span></p>
-->


<p id="raspIp" th:text="${applicationAddr}"> </p>
<p id="webCamActive" th:text="${webCamActive}"> </p>
<p id="applStarted" th:text="${applStarted}"> </p>

<form action="/setApplAddress" method="post">
    <div class="form-group">
        <input name="cmd" id="raspAddr" placeholder="192.168.1.xxx">
        <button>Rasp IP</button>
    </div>
</form>
<form action="/webCamActive" method="post">
    <div class="form-group">
        <input name="cmd" id="webCamActive" placeholder="false">
        <button>WebCam active</button>
    </div>
</form>
<form action="/startAppl" method="post">
    <div class="form-group">
        <input name="cmd" id="startAppl" placeholder="false">
        <button>StartAppl</button>
    </div>
</form>

<hr/>

<form action="/on" method="post">
	<input name="cmd" id="on" value="Led turnOn" style="font-size:15px;" >
	<button>on</button>
</form>


<form action="/off" method="post">
    <input name="cmd" id="off" value="Led turnOff" style="font-size:15px;" >
    <button>off</button>
</form>

<form action="/doLedBlink" method="post">
    <input name="cmd" id="doLedBlink" value="Led blink" style="font-size:15px;" >
    <button>doLedBlink</button>
</form>

<form action="/stopLedBlink" method="post">
    <input name="cmd" id="stopLedBlink" value="Led blink STOP" style="font-size:15px;" >
    <button>stopLedBlink</button>
</form>

<form action="/distance" method="post">
    <input name="cmd" id="distance" value="Sonar distance" style="font-size:15px;" >
    <button>Show sonar distance</button>
</form>

<form action="/sonardataon" method="post">
    <input name="cmd" id="sonaron" value="Sonar activate" style="font-size:15px;" >
    <button>Sonar activate</button>
</form>

<form action="/sonardataoff" method="post">
    <input name="cmd" id="sonaroff" value="Sonar deactivate" style="font-size:15px;" >
    <button>Sonar deactivate</button>
</form>

<form action="/getphoto" method="post">
    <input name="cmd" id="getphoto" value="Take a photo" style="font-size:15px;" >
    <button>Take a photo</button>
</form>

<!--
<form action="/startWebCamStream" method="post">
    <input name="cmd" id="startWebCamStream" value="Start WebCam" style="font-size:15px;" >
    <button>Start WebCam</button>
</form>
-->



<h4>Current Led State=<span th:text="${ledstate}">unknown</span></h4>
<div th:id=${ledgui} align="left"></div>

<h2>Info </h2>
<table >
    <thead>
    <tr>
        <th>Info area</th>
    </tr>
    </thead>
    <tbody id="output">
    </tbody>
</table>

<div class="row">
    <div class="col-md-12">
        <h4>Sonar data</h4>
        <p id="sonarData">unknown</p>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <h4>Photo</h4>
         <span th:text="${photo}"></span>
    </div>
</div>
<hr/>
<h3>WebCam</h3>


<button type="button" onclick="showWebCam()">Show WebCam</button>


             <div id="content" align="left">
                <img src="" id="img_src" alt=""  width="640" height="480"><br/>
            </div>
 

<script type="text/javascript">
 	function setWebCamIp( appladdr ){
 	var applip ="";
 	/*
	         var appladdr = document.getElementById("appladdr").innerHTML
	         if(  appladdr.length == 0 ){
	         	alert("sorry, no webcam");
	          	return;
	         }
	         var appladdr = "192.168.1.29";
	*/
	         console.log("startWebCam appladdr="+appladdr )
	         var url = appladdr+":8080"  // FOR WEB CAM
	         var len = url.length;
	         var n   = url.indexOf(":");
	         var j   = url.substring(n+1,len);
	         applip = "http://" + url + "/?action=stream";
	         //alert(applip); //applip=http://192.168.1.72:8080/?action=stream

	         return applip;
	}

function showWebCam(){
    console.log( "showWebCam:"+ document.getElementById("raspIp").innerHTML );
    var applip = setWebCamIp( document.getElementById("raspIp").innerHTML );
    if( applip.length>0)  document.getElementById("img_src").src = applip;
}
    //console.log( document.getElementById("raspApplAddr").innerHtml );
    //var applip = setWebCamIp( "192.168.1.112" );
    //document.getElementById("img_src").src = applip;
</script>


<script src="wsNoStomp.js"></script>
</body>
</html>
