<!--
 * See https://www.baeldung.com/spring-boot-change-port
 * https://howtodoinjava.com/spring-webflux/spring-webflux-tutorial/
 * https://docs.spring.io/spring-framework/docs/5.0.0.BUILD-SNAPSHOT/spring-framework-reference/html/web-reactive.html
 * BAD REQUEST ( enctype="text/plain") https://www.ionos.it/digitalguide/hosting/tecniche-hosting/messaggio-di-errore-http-400-alla-ricerca-delle-cause/

Content type 'application/x-www-form-urlencoded' not supported
when we use application/x-www-form-urlencoded, Spring doesn't understand it as a RequestBody
-->

<!DOCTYPE html >
<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>RobotWebGui</title>
        <!-- <link rel="stylesheet" href="css/style.css"/> -->
<style>
#ledOn{
      width: 50px;
      height: 50px;
      background: red;
}

#ledOff{
      width: 10px;
      height: 10px;
      background: gray;
}
		table, th, td {
		  border: 1px solid black;
		  border-collapse: collapse;
		}    

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}
</style>      

 </head>
<body>
<h1><span th:text="${arg}">Our Arg</span></h1>


<p>I am <i>it.unibo.msenabler - templates/gui.html</i></p>

 
<form action="/on" method="post">
	<input name="cmd" id="on" value="Led turnOn" style="font-size:15px;" >
	<button>on</button>
</form>


<form action="/off" method="post">
    <input name="cmd" id="off" value="Led turnOff" style="font-size:15px;" >
    <button>off</button>
</form>

<form action="/doLedBlink" method="post">
    <input name="cmd" id="doLedBlink" value="Led blink" style="font-size:15px;" >
    <button>doLedBlink</button>
</form>

<form action="/stopLedBlink" method="post">
    <input name="cmd" id="stopLedBlink" value="Led blink STOP" style="font-size:15px;" >
    <button>stopLedBlink</button>
</form>

<form action="/distance" method="post">
    <input name="cmd" id="distance" value="Sonar distance" style="font-size:15px;" >
    <button>Show sonar distance</button>
</form>


<h2>Current Led State=<span th:text="${ledstate}">unknown</span></h2>
<div th:id=${ledgui} align="left"></div>

<h2>Current distance=<span th:text="${sonardistance}">unknown</span></h2>



   	
</body>
</html>
