<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>index</title>

<!-- SOCKET in SpringBoot -->
<!--
Imports the SockJS and STOMP javascript libraries that will be used
to communicate with our server through STOMP over websocket.
We also import app.js, which contains the logic of our client application.
-->
    <script src="/app.js"></script>

</head>

<body>
<!--
===============================================================================

===============================================================================
--> 
<div style="background-color: #D2B4DE">

<h2>Sonar console (SpringBoot)</h2>

</div>
</body>
</html>
