<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ResourceAccess</title>

 
</head>

<body>
<!--
===============================================================================

===============================================================================
--> 
<div style="background-color: #D2B4DE">
<h2>Robot ...</h2>
</div>
 </body>
</html>
