<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ResourceAccess</title>
<!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/2.1.0/jquery.js"></script>
 <!--Your JavaScript file must be included below the jQuery library in the document or it will not work. -->
 <script type="text/javascript" src="jqutils.js"></script>
 <script type="text/javascript" src="webSocketUtils.js"></script>

 <script>
     function myIp() {
       var ip = location.host;
       document.getElementById("myIp").innerHTML = ip;
     }

 function byeFunction() {
   //alert("Thank you for visiting  ");
   console.log("bye");
   socket.send("WebSocket close ");
   //socket.close();
 }
   </script>
</head>

<body onload="myIp()"   onunload="byeFunction()>

 <h2>Virtual Robot Console (guiJquery)</h2>
<pre style="background-color: #ffffb3; color:blue;">
The <i>webguiServer</i> works on <span id="myIp"></span>
</pre>
   <h5 style="color:blue;">Create a FORM with jQuery</h5>
<pre style="background-color: #ffffb3">
click --> jqutils --> doPostToWenv (creates a FORM) --> webguiServer (postTo8090 --> WEnv)
</pre>
  <hr/>
  <center>
   <table style="width:50%">
    <tbody>
    <tr>
     <td><button id="lpost8090">l8090</button></td>
     <td><button id="rpost8090">r8090</button></td>
     <td><button id="wpost8090">w8090</button></td>
     <td><button id="spost8090">s8090</button></td>
     <td><button id="hpost8090">h8090</button></td>
    </tr>
    </tbody>
   </table>
  </center>
  <hr/>


</div>

<button id="displayconns" type="submit">Show Connections</button>
<button id="clear" type="submit">ClearHistory</button>

<div style="background-color: #FAF19C">
	<div>
 		<b>DISPLAY AREA</b>: <span id="robotDisplay"></span>
  	</div>
</div>

</body>
</html>
