<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ResourceAccess</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<!--
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script>
function escapeRegExp(str) {
    return str.replace(/([.*+?^=!:${}()|\[\]\/\\])/g, "\\$1");
}
var socket  = io.connect();
socket.on('connect', function(){ 
	console.log("socket connected");
});
socket.on( 'message', function(v){ 
  console.log("RECEIVED " + v);
  if( v.indexOf("distance")  >= 0 ){document.getElementById('sonarRobotDisplay').innerHTML=v; }
  if( v.indexOf("pos")       >= 0 ){document.getElementById('robotDisplay').innerHTML=v; }
  //if( v.indexOf("obstacle")  >= 0 ){document.getElementById('infoDisplay').innerHTML=v; }
  //if( v.indexOf("polar")     >= 0 ){document.getElementById('sonarRobotDisplay').innerHTML=v; }

});
</script>
 -->
  <script src="https://cdn.jsdelivr.net/webjars/org.webjars/jquery/2.1.0/jquery.js"></script>
  <!--Your JavaScript file must be included below the jQuery library in the document or it will not work. -->
  <script type="text/javascript" src="jqutils.js"></script>
  <script type="text/javascript" src="webSocketUtils.js"></script>

 <script>
     function myIp() {
       var ip = location.host;
       document.getElementById("myIp").innerHTML = ip;
     }

 function byeFunction() {
   //alert("Thank you for visiting  ");
   console.log("bye");
   socket.send("WebSocket close ");
   //socket.close();
 }
   </script>
</head>

<body onload="myIp()"   onunload="byeFunction()>


<h2>Virtual Robot Console (guisimple)</h2>
<pre style="background-color: #ffffb3; color:blue;">
The <i>webguiServer</i> works on <span id="myIp"></span>
</pre>

<div style="background-color: #D2B4DE">
  <h5 style="color:blue;">HTML-form with POST</h5>

  <pre style="background-color: #ffffb3;">
click --> POST --> webguiServer (postTo8090 --> WEnv) </pre>

<center>
			<table >
					<tr>
						<td></td>
						<td></td>
						<td align="center">
							<form action="/w" method="post">
							  	<input type="submit" style="font-size:30px;" value="forward" >
							</form>
						</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td align="center">
							<form action="/z" method="post">
							  	<input type="submit" style="font-size:30px;"  value="z" >
							</form>
						</td>
						<td align="center">
							<form action="/l" method="post">
							  	<input type="submit" style="font-size:30px;"  value="left" >
							</form>
						</td>
						<td align="center">						
							<form action="/h" method="post">
							    <font size="3" color="red">
							  	<input type="submit" style="font-size:40px;"  value="h"  >
							  	</font>
							</form>
						</td>
						<td align="center">
							<form action="/r" method="post">
							  	<input type="submit" style="font-size:30px;" value="right"  >
							</form>
						</td>
						<td align="center">
							<form action="/x" method="post">
							  	<input type="submit" style="font-size:30px;"  value="x" >
							</form>
						</td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td align="center">
							<form action="/s" method="post">
							  	<input type="submit" style="font-size:30px;"  value="backward"  >
							</form>
						</td>
						<td></td>
						<td></td>
					</tr>
				</table>
</center>

 </div>

 <button id="displayconns" type="submit">Show Connections</button>
 <button id="clear" type="submit">ClearHistory</button>


<div style="background-color: #FAF19C">
	<div>
 		<b>DISPLAY AREA</b>: <span id="robotDisplay"></span>
  	</div>
  	<!--
	<div>
 		<b>INFO</b>: <span id="infoDisplay"></span>
  	</div>
	<div>
  		<b>SONAR STATE</b>: <span id="sonarRobotDisplay"></span>
	</div>
	<div>
  		<b>ROOM MAP</b>: <span id="mapDisplay"></span>
	</div>
	-->

</div>

</body>
</html>
