<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>basicrobotGui</title>

<!-- SOCKET in SpringBoot -->
<!--
Imports the SockJS and STOMP javascript libraries that will be used
to communicate with our server through STOMP over websocket.
We also import app.js, which contains the logic of our client application.
-->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/app.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script>
    function myIp() {
      var ip = location.host;
      //alert(ip);
      //document.getElementById("myIp").innerHTML   = ip;
      //document.getElementById("raspIp").innerHTML = "192.168.1.5";
    }

    //myIp()
    connect()   //defined in app.js
  </script>

</head>

<body>
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support Javascript! Websocket relies on Javascript being
    enabled. Please enable
    Javascript and reload this page!</h2>
</noscript>

<!--
===============================================================================

===============================================================================
--> 
<div style="background-color: #D2B4DE">
<h2>Basicrobot console </h2>
</div>
(SpringBoot, HTML POST)

<!--
    ===========================================================
    INPUT AREA
    ===========================================================
    -->
<h3>CONFIGURATION</h3>
<form action="configure" method="post">   <!-- the form-data is sent to the page specified in the action attribute -->
    <label for="configurespec">address</label>
    <input type="text" id="configurespec" name="move" value="...">
    <input type="submit" value="set basicrobot address (the port is 8020)">
</form>
<p id="ipaddr">PLEASE, activate a basicrobot</p>

<hr/>

<center>
    <table>
    <tr><td style="width:50%">
        <center>
            <h4>Commands</h4>
        <table style="width:50%">
            <tbody>
            <tr>
                <td > <form action="robotmove" method="post"><button name="move" value="w">w</button></form> </td>
                <td> <form action="robotmove" method="post"><button name="move" value="s">s</button></form> </td>
            </tr>
            <tr>
                <td> <form action="robotmove" method="post"><button name="move" value="r">r</button></form> </td>
                <td> <form action="robotmove" method="post"><button name="move" value="l">l</button></form> </td>
            </tr>
            <tr>
                <td> <form action="robotmove" method="post"><button name="move" value="x">x</button></form> </td>
                <td> <form action="robotmove" method="post"><button name="move" value="z">z</button></form> </td>
             </tr>
            <tr>
                <td> <form action="robotmove" method="post"><button name="move" value="p">p</button></form> </td>
                <td> <form action="robotmove" method="post"><button name="move" value="h">h</button></form> </td>
            </tr>
        </table>
        </center>
    </td>
        <td>
            <!-- <h4>Web cam on Rasp</h4> -->
            <div id="content" align="left" color="yellow">
                <img src=""  id="img_src" alt=""  width="320" height="240"><br/>
            </div>

        </td>
    </tr>
    </table>
</center>

    <!--
    ===========================================================
    OUTPUT/UPDATING AREA
    ===========================================================
    -->
    <div style="background-color: #FAF19C">
        <p>LAST MOVE OF THIS CONSOLE: <b><span style="color:blue" id="moveinfo" th:text="${viewmodelarg}">Our App</span></b></p>
    </div>

    <div style="background-color: #FAF19C">
             <b>INFO FROM RESOURCE:</b> <span id="infodisplay"></span>
    </div>


<hr/>
<script type="text/javascript">
            //setAddr()   //defined in app.js
        //var v = document.getElementById("ipaddr")
        //alert(v)
        //function connectCam(){
         var addr = document.getElementById("moveinfo").innerHTML
         var v    = addr.split("=")
         console.log("ADDR ....... "+v[1])
		 var url = v[1]+":8080"  // FOR WEB CAM
 	     var len = url.length;
	     var n   = url.indexOf(":");
	     var j   = url.substring(n+1,len);
		 var ip = "http://" + url + "/?action=stream";
		 //document.getElementById("ipaddr").innerHTML  = ip;
		 //alert("ip="+ip); //ip=http://192.168.1.72:8080/?action=stream
	     document.getElementById("img_src").src = ip;
	    //}
</script>
</body>
</html>
