<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>sonarGui</title>

<!-- SOCKET in SpringBoot -->
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script src="/app.js"></script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

    <script>
    function myIp() {
      var ip = location.host;
      //alert(ip);
      //document.getElementById("myIp").innerHTML   = ip;
      //document.getElementById("raspIp").innerHTML = "192.168.1.5";
    }

    //myIp()
    connect() //defined in app.js
  </script>

</head>

<body>
<!--
===============================================================================

===============================================================================
--> 
<div style="background-color: #D2B4DE">

<h2>Sonar console (SpringBoot)</h2>

<h2>INPUT</h2>
<form action="/sonardata" method="post">   <!-- the form-data is sent to the page specified in the action attribute -->
    <label for="sonarspec">Sonar value</label>
    <input type="text" id="sonarspec" name="sonarvalue" value="0">
    <input type="submit" value="Submit">
</form>

<!--
    <button id="connect" class="btn btn-default" type="submit">Connect</button>
-->

    <div style="background-color: #FAF19C">
    <p>LAST SONAR VALUE IN RESOURCE:<b><span th:text="${sonarval}">unknown</span></b>.</p>
    </div>

    <div style="background-color: #FAF19C">
        <div>
            <b>INFO FROM RESOURCE:</b>: <span id="infodisplay"></span>
        </div>
    </div>

</div>
</body>
</html>
